body{
    font-family: 'Roboto', sans-serif;
}
.alert-container{}

.callout-container{
    height: 100vh;

    background: url(whiskey-glass.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
      align-items:center;
      justify-content:center;

    position: relative;
}

.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,0.5);
}

.quotes-container{}

.features-container{}

/*Block divider*/

.block-divider{
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider-orange{
    background-color:#bf8a13;
}

.block-divider-short{}

.monthly-favourites-container{}

/*Jumbotron*/

.jumbotron{
    background-color: transparent;
    padding-bottom: 15rem;
    color: white;
}

.jumbotron-header{
    color:#9d9fa2;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small{
    font-size: 60%;
    font-style:italic;
    color:white;
}
/*Buttons*/

.btn--cta{
    font-weight: bold;
    border-radius: 23px;
    width:160px;
}

.btn--red{
    color: white;
    background-color: #4e4e4e;
    border-color:#4e4e4e;
}
.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus{
    background-color: #4e4e4e;
::#e9ecef;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus{
    background-color: #4e4e4e;
    border-color:white;
}
