body{
    font-family: 'Roboto', sans-serif;
}

.container-wrapper{

}

.container-wrapper--grey{
    background-color: #4e4e4e;
    color: white;
}

.alert-container.col-12{
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert{
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    border-color:#eec802;
    background-color:#eec802;
}
.callout-container{
    height: 90vh;
    background: url(whiskey-glass.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    display: flex;
      align-items:center;
      justify-content:center;

    position: relative;
}

.container-fluid{
    padding: 0;
}
.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,0.5);
}

.quotes-container{}

.features-container{}

/*Page headers*/

.page-header{
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header .h2{
    margin-top: 0;
}

.quotes .page-header{
    margin-bottom:25px;
}

/*Block divider*/

.block-divider{
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--grey{
    background-color:#444;
}

.block-divider--white{
    background-color:rgb(248, 244, 244);
    margin-bottom:30px;
}

.block-divider-short{}

/*content containers*/

.content-container{
    padding-top: 75px;
    padding-bottom:75px;
}

.monthly-favourites-container{}

/*Navbar*/

.navalert-conatiner{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    padding-top: 0;
    padding-right:0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: rgba(0,0,0,0.50);
    z-index: 1;
}

.navbar.navbar-toggler{
    border: 0;
}

.navbar-brand{
    font-weight: bold;
}

.navbar.navbar-nav a{
    font-weight:bold;
}

.navbar-brand{
    padding-left:15px;
}

/*Jumbotron*/

.jumbotron{
    background-color: transparent;
    padding-top:15rem;
    padding-bottom: 15rem;
    color: white;
}

.jumbotron-header{
    color:#eaecef;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small{
    font-size: 60%;
    font-style:italic;
    color:white;
}
/*Buttons*/

.btn--cta{
    font-weight: bold;
    border-radius: 23px;
    width:160px;
}

.btn--grey{
    color: white;
    background-color: #4e4e4e;
    border-color:#4e4e4e;
}
.btn--grey:hover,
.btn--grey:active,
.btn--grey:focus,
.btn--grey:active:focus{
    background-color: #4e4e4e;
    border-color:#e9ecef;
}

.btn--grey:hover,
.btn--grey:active,
.btn--grey:focus,
.btn--grey:active:focus{
    background-color: #4e4e4e;
    border-color:white;
}

.feature{
    text-align:center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height:45px;
}

.feature .btn{
    background-color: #4e4e4e;
    border-color:#e9ecef;
    border-radius:15px;
    min-width:100px;
    font-weight:bold;
    margin-top: 10px;
    color:white;
}